<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI_Tier.Properties.Settings.banthietbidientuConnectionString" connectionString="Dsn=Myslq;server=localhost;uid=root;database=banthietbidientu;port=3306;charset=utf8;big_packets=1;auto_reconnect=1;multi_statements=1" providerName="System.Data.Odbc"/>
        <add name="GUI_Tier.Properties.Settings.banthietbidientuConnectionString1" connectionString="Dsn=MySql;server=localhost;uid=root;database=banthietbidientu;port=3307" providerName="System.Data.Odbc"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
